@charset 'utf-8';


.l_flex {
    display: flex;

    &.gap_8 {
        gap: .8rem;
    }
}

.l_flex_column {
    flex-direction: column;
}

.l_align_center {
    align-items: center;
}

.l_flex_wrap {
    flex-wrap: wrap;
}