@charset 'utf-8';

// title
.title_18 {
    font-size: 1.8rem;
}

.title_24 {
    font-size: 2.4rem;
}

// padding
.pr_16 {
    padding-right: 1.6rem;
}

.pl_16 {
    padding-left: 1.6rem;
}

.pt_24 {
    padding-top: 2.4rem;
}

.pb_90 {
    padding-bottom: 9rem;
}

// margin
.ml_at {
    margin-left: auto;
}

.ml_12 {
    margin-left: 1.2rem;
}

.mt_24 {
    margin-top: 2.4rem;
}

// text-align
.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

// is_
.is_hide {
    display: none;
}