@charset 'utf-8';


$colors: (
    black_87:rgba(0, 0, 0, 0.87),
    black_60:rgba(0, 0, 0, 0.60),
    black_38:rgba(0, 0, 0, 0.38),
    white:#fff,
    main: #FFB84D,
    main_2:#865711,
    main_3:#FFF4E3,
    main_bg:#FFE3B8,
    accent:#3FB84B,
    accent_2:#FF7777
);

@function colors($key) {
    @return map-get($map: $colors, $key: $key);
}